@font-face
{
	font-family: 'zeus';
	src: url('./fonte/Montserrat-Bold.ttf');
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'zeus';
}
.fas
{
	margin-right: 10px;
}
.back
{
	background-color: #1D1C51;
	padding: 30px 30px;
	border-radius: 50%;
}
.main-banner
{
	background: url('./imagens/banner.png') center center no-repeat;
	background-size: cover;
	width: 100%;
	height: 1400px;
	position: absolute;
	z-index: -1;
}
.container-nav
{
	max-width: 1700px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	background-color: #1D1C51;
	margin-top: 20px;
	justify-content: space-between;
	border-radius: 30px;
	position: relative;
}
.tutorial::after
{
	content: '';
	background-color: #FFFFFF;
	position: absolute;
	height: 100%;
	width: 2px;
	right: 0;
	top: -10px;	
}
.produtos a
{
	margin-right: 100px;
}
.produtos a::before
{
	content: '';
	background-color: #FFFFFF;
	position: absolute;
	height: 100%;
	width: 2px;
	left: 0;
	top: -10px;	
}
.produtos img
{
	position: relative;
	top: -10%;
	margin-right: 20px;
	text-align: center;
}
.tutorial img
{
	position: relative;
	top: -10%;
	margin-right: 20px;
	text-align: center;	
}
.logo img
{
	margin-left: 120px;
}
.ul-listas
{
	display: flex;
	list-style: none;
}
.ul-listas a
{
	color: #FFFFFF;
	text-decoration: none;
	font-size:1.5em;
}
@media only screen and (max-width: 1300px) and (min-width: 375px)
{
	.arduino
	{
		padding-bottom: 30px;
	}
	.valorant
	{
		padding-top:20px !important;
	}
	.box img
	{
		height: 2vh;
		top: 24%;
		margin: 0;
	}
	.box h1
	{
		font-size: 0.5em !important;
		position: relative;
	}
	.sub-texto p
	{
		font-size: 0.6em;
	}
	.navbar
	{
		margin: 0 auto;
		align-items: center;
	}
	.logo img
	{
		height: 10vh;
		margin: 0 auto;
	}
	.container-nav
	{
		height: 10vh;
	}
	.disc
	{
		font-size: 0.6em;
	}
}
@media only screen and (max-width: 1364px) and (min-width: 375px)
{
	.container-nav
	{
		justify-content: center;
	}
	.navbar
	{
		display: none !important;
	}
	.discord
	{
		display: none !important;
	}
}
.ul-listas a:hover
{
	color:#FFFFFF;
}
li
{
	margin-right: 60px;
}
.discord
{
	margin-right: 20px;
}
.disc
{
	background-color: #0A0A0A;
	padding: 15px 50px;
	border-radius: 20px;
	cursor: pointer;
}
.disc a
{
	color:#FFFFFF;
	text-decoration: none;
}
.disc a:hover
{
	color:#FFFFFF;	
}
.disc img
{
	margin-right: 10px;
}
.box
{
	background-color: #1E1E1E;
	max-width: 1600px;
	height: 50px;
	margin: 0 auto;
	border-radius: 0 0 20px 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}
.box h1
{
	color: #FFFFFF;
	font-size: 1.25em;
}
.box img
{
	position: absolute;
}
.icone-4,.icone-5,.icone-6
{
	margin-left: -40px;
	top: 15%;
	align-items: center;
}
.container-main
{
	max-width: 1700px;
	margin: 0 auto;
}
.row
{
	margin: 0 auto !important;
}
.valorant
{
	padding-top: 80px;
}
.valorant img
{
	max-width: 100%;
}
.sub-texto p
{
	color:#FFFFFF;
}
.botao
{
	padding-top: 30px;
}
.botao a
{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #1D1C51;
	padding: 20px 60px;
	border-radius: 20px;
}
.botao a:hover
{
	color: #FFFFFF;	
}
.arduino
{
	padding-bottom: 40px;
}
.arduino img
{
	padding-top: 40px;
	max-width: 90%;
}
@media only screen and (max-width: 1700px) and (min-width:375px)
{
	.box
	{
		max-width: 85% !important;
	}
	.arduino img
	{
		max-width: 100%;
	}
}
.vetor img
{
	width: 100%;
}
.quadrado
{
	position: fixed;
	right: 40px;
	bottom: 40px;
	z-index: 2;
}
.quadrado a
{
	text-decoration: none;
	color: #FFFFFF;
	background-color: #1D1C51;
	padding: 20px 50px;;
	border-radius: 20px;
	z-index: 1;
}
.quadrado a:hover
{
	color: #FFFFFF;
}
.quadrado img
{
	position: relative;
}
.bx-message-rounded-dots
{
	position: absolute;
	margin-left: 19px;
}
.content
{
	background-color: black;
	width: 100%;
}
.content-2
{
	max-width: 1800px;
	margin: 0 auto;
	padding-top: 40px;
	position: relative;
}
.logo-1
{
	justify-content: center;
}
.vector-1 img
{
	position: absolute;
	max-width: 100%;
	margin: 0 auto;
}
.vector-2 img
{
	max-width: 100%;
}
.arduino-1 img
{
	padding-top: 20px;
	position: relative;
	width: 90%;
	z-index: 2;
}
.hardware
{
	position: relative;
	background-color: #666666;
	border-radius: 20px;
	margin-bottom: 40px;
	padding-top: 40px;
	padding-left: 50px;
	height: 20vh;
	cursor: pointer;
	transition: all 0.2s ease-out;
	justify-content: center;
}
.hardware:hover
{
	transform: translateY(-4px);
}
.alta
{
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	padding-bottom: 60px;
}
.alta img
{
	max-width: 100%;
}
.hardware-1
{
	padding-top: 40px;
	padding-left: 50px;
	background-color: #666666;
	border-radius: 20px;
	margin-bottom: 40px;
	height: 20vh;
	cursor: pointer;
	transition: all 0.2s ease-out;	
}
.hardware-1:hover
{
	transform: translateY(-4px);
}
.software h1,.software-2 h1
{
	color: #FFFFFF;
	font-size: 3.em;
}
.software p,.software-2 p
{
	color: #FFFFFF;
	font-size: 1.25em;
}
.arduino-1
{
	padding-top: 40px;
}
@media only screen and (max-width:1484px) and (min-width: 375px)
{
	.arduino-1
	{
		padding-top: 100px !important;
	}
	.software h1,.software-2 h1
	{
		font-size: 1.4em !important;
	}
}
@media only screen and (max-width:999px) and (min-width: 375px)
{
	.hardware,.hardware-1
	{
		padding-top: 40px;
		padding-left: 10px!important;
	}
	.software h1,.software-2 h1
	{
		font-size: 1.3em !important;
		margin: 0;
	}	
}
.sobre-itens
{
	background-color: #12112C;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	height: 170px;
}
.black
{
	max-width: 370px;
	margin: 0 auto;
	background-color: #000000;
	border-radius: 30px;
	padding: 20px 30px;
	transition: all 0.2s ease-out;
}
.black a
{
	font-size: 1.2em;
	margin: 0 auto;
	text-decoration: none;
}
.black:hover
{
	cursor: pointer;
	transform: translateY(-2px);
}
@media only screen and (max-width:1700px) and (min-width: 375px)
{
	.black a
	{
		font-size: 0.7em;
	}
	.black
	{
		margin-bottom: 40px;
	}
	.sobre-itens
	{
		height: 100%;
	}
}
.zeus-footer
{
	background: url('./imagens/zeus.png') center center no-repeat;
	background-color: black !important;
	background-size: cover;
	position: absolute;
	width: 100%;
}
.zeus-container
{
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}
.texto p
{
	color: #FFFFFF;
	padding-top: 20px;
}
.corp h1
{
	color:#FFFFFF;
	font-size: 1em;
	padding-top: 30px;
}
